<!DOCTYPE html>

<html>

    <head>
        <title>StudyPlanPro - Home</title>

        {% load static %}
        {% load socialaccount %} <!-- Added for oauth -->

        <link href="{% static 'home_style.css' %}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

        <script src="{% static 'home_index.js' %}"></script>
    </head>

    <body>
        <div class="header">
            <img id="logo" src="{% static 'images/logo.png' %}">
            <h1 style="padding-left: 5px;">StudyPlanPro</h1>
            
            <div id="tabs_container">
                <a href="/home/" class="highlighted_tabs"><h1>Home</h1></a>
                <a href="/demand/cs/" class="tabs"><h1>Demand</h1></a>
                <a href="/flowchart/cs/" class="tabs"><h1>Flowchart</h1></a>

                {% if user.is_authenticated %}
                <a href="logout/" class="tabs"><h1>Logout</h1></a>
                {% else %}
                <a href="login/" class="tabs"><h1>Login</h1></a>
                {% endif %}
            </div>
        </div>

        <div>
            <img id="home_pic" src="{% static 'images/home_pic.png' %}">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert" style="padding-top: 75px; padding-left: 80px;">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <h2 style="padding-top: 100px; padding-left: 80px;">Need help managing your courses?</h2>
            <p style="padding-left: 80px;">Find your sem courses through personalized planning</p>

            {% if user.is_authenticated %}
            <a href="logout/"><button class="gray_button" style="left: 80px; position: relative;">LOGOUT</button></a>
            {% else %}
            <a href="login/"><button class="gray_button" style="left: 80px; position: relative;">LOGIN</button></a>
            <a href="join/"><button class="gray_button" style="left: 90px; position: relative;">SIGN UP</button></a>
            {% endif %}

            <h2 style="padding-left: 80px;">Or take a tour around our website</h2>
            <p style="padding-left: 80px;">Check out our available courses, course descriptions and the demand for the courses.</p>

            <div style="display: flex;">
                <a href="/flowchart/cs/" class="gray_button" style="left: 80px; position: relative; padding-top: 10px;">COURSE FLOWCHART</a>
                <a href="/demand/cs/" class="gray_button" style="left: 90px; position: relative; padding-top: 10px;">DEMAND TABLE</a>
            </div>
        </div>
    </body>
</html>