<!DOCTYPE html>

<html>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    
    <h1>Join Now!</h1>

    <form method="POST" action="{% url 'join' %}">
    {% csrf_token %}
        <input class="loginInput" type="text" name="name" placeholder="Nickname">
        <br><br>
        <input class="loginInput" type="email" name="email" placeholder="UP Email Address">
        <br><br>
        <button>Sign Up</button>
    </form>
</html>