<!DOCTYPE html>

<html>

    <head>
        <title>StudyPlanPro - Home</title>

        {% load static %}
        {% load socialaccount %} <!-- Added for oauth -->

        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <link href="{% static 'home_style.css' %}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>
    
    <body>
        
        <div class="centered_div">
            <img class="img-gluid" id="logo" src="{% static 'images/logo_black.png' %}" style="padding-left: 0px;">
            <h1 style="padding-left: 5px; color: #000000; font-weight: 500;">StudyPlanPro</h1>
        </div>
        <br>

        <div class="centered_div"><h1 style="color: #000000;">Login</h1></div>
        <br>

        <div class="centered_div">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}


                <input class="loginInput" type="text" name="username" placeholder="Username" style="left: 0px;">
                <br><br>
                <input class="loginInput" type="email" name="email" placeholder="Email Address" style="left: 0px;">
                <br><br>
                <input class="loginInput" type="password" name="password" placeholder="Password" style="left: 0px;">
                <br><br>

                <div class="centered_div"><button class="gray_button">Login</button></div>
            </form>
        </div>

        <br>
        {% comment %} For OAuth {% endcomment %}
        <div class="centered_div"><a href="{% provider_login_url 'google' %}?next=/home">
            <button class="gray_button">Google Login</button>
        </a></div>
        {% comment %} For OAuth {% endcomment %}
    </body>
</html>