<!DOCTYPE html>

<html>

    <head>
        <title>StudyPlanPro - Home</title>

        {% load static %}
        {% load socialaccount %} <!-- Added for oauth -->

        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <link href="{% static 'home_style.css' %}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>
    
    <body>
        
        <div class="centered_div">
            <img class="img-gluid" id="logo" src="{% static 'images/logo_black.png' %}" style="padding-left: 0px;">
            <h1 style="padding-left: 5px; color: #000000; font-weight: 500;">StudyPlanPro</h1>
        </div>
        <br>

        <div class="centered_div"><h1 style="color: #000000;">Login using your UP mail!</h1></div>

        {% comment %} For OAuth {% endcomment %}
        <div class="centered_div"><a href="{% provider_login_url 'google' id=1 %}?next=/home">
            <button class="gray_button">Google Login</button>
        </a></div>
        {% comment %} For OAuth {% endcomment %}
    </body>
</html>