<!DOCTYPE html>

<html>

    <head>
        <title>StudyPlanPro - BS Computer Science Flowchart</title>

        {% load static %}
        {% load socialaccount %} <!-- Added for oauth -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- Added for AJAX -->

        <link href="{% static 'flowchart_style.css' %}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="header">
            <img id="logo" src="{% static 'images/logo.png' %}">
            <h1 style="padding-left: 5px;">StudyPlanPro</h1>
            
            <div id="tabs_container">
                <a href="/home/" class="tabs"><h1>Home</h1></a>
                <a href="/demand/cs/" class="tabs"><h1>Demand</h1></a>
                <button class="highlighted_tabs"><h1>Flowchart</h1></button>
                
                {% if user.is_authenticated %}
                <a href="/home/logout/" class="tabs"><h1>Logout</h1></a>
                {% else %}
                <a href="/home/login/" class="tabs"><h1>Login</h1></a>
                {% endif %}
            </div>
        </div>

        <form action="" method=POST class="centered_div" style="padding-top: 100px; flex-direction: column; align-items: center;">
            {% csrf_token %}
            <div id="fc_outer_box">
                <div style="display: flex; flex-direction: row; justify-content: space-between;"> <!--top part-->
                    <div>
                        <h1 style="padding-left: 10px;">UPD CS: Major Course Selection</h1>
                        <p id="instruction_text">Click a course to see its description.</p>
                    </div>

                    <div style="padding-right: 15px;">
                        <p style="color: #ffffff; position: relative; top: 10px;">Current Mode:</p>
                        <button type="button" id="toggle_details" class="gray_button" style="background-color: #ffffff; color: #000000;" onclick="toggleDetails()">Details Mode</button>
                    </div>
                </div>

                <div id="fc_inner_box">
                    <div class="sem_column">
                        <h1 style="margin-block: 0px;">Y1S1</h1>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 11">
                            <input type="checkbox" name="courses" value="CS 11" id="cs 11cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 11
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 30">
                            <input type="checkbox" name="courses" value="CS 30" id="cs 30cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 30
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="math 21">
                            <input type="checkbox" name="courses" value="MATH 21" id="math 21cbox" onclick="checkTheBox(this.value)" disabled>
                            Math 21
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 10">
                            <input type="checkbox" name="courses" value="CS 10" id="cs 10cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 10
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="kas 1">
                            <input type="checkbox" name="courses" value="KAS 1" id="kas 1cbox" onclick="checkTheBox(this.value)" disabled>
                            Kas 1
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="philo 1">
                            <input type="checkbox" name="courses" value="PHILO 1" id="philo 1cbox" onclick="checkTheBox(this.value)" disabled>
                            Philo 1
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="pe 1">
                            <input type="checkbox" name="courses" value="PE 1" id="pe 1cbox" onclick="checkTheBox(this.value)" disabled>
                            1st PE
                        </label>
                        <button class="invisible_button" type="button"></button>    
                    </div>
                    

                    <div class="sem_column">
                        <h1 style="margin-block: 0px;">Y1S2</h1>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 12">
                            <input type="checkbox" name="courses" value="CS 12" id="cs 12cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 12
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 31">
                            <input type="checkbox" name="courses" value="CS 31" id="cs 31cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 31
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="math 22">
                            <input type="checkbox" name="courses" value="MATH 22" id="math 22cbox" onclick="checkTheBox(this.value)" disabled>
                            Math 22
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="physics 71">
                            <input type="checkbox" name="courses" value="PHYSICS 71" id="physics 71cbox" onclick="checkTheBox(this.value)" disabled>
                            Physics 71
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="soc sci 1/2">
                            <input type="checkbox" name="courses" value="SOC SCI 1/2" id="soc sci 1/2cbox" onclick="checkTheBox(this.value)" disabled>
                            Soc Sci 1/2
                        </label>
                        <button class="invisible_button" type="button"></button>
                        <label class="course_button" onclick="showinfo(this.id)" id="pe 2">
                            <input type="checkbox" name="courses" value="PE 2" id="pe 2cbox" onclick="checkTheBox(this.value)" disabled>
                            2nd PE
                        </label>
                        <button class="invisible_button" type="button"></button>  
                        
                    </div>
                    

                    <div class="sem_column">
                        <h1 style="margin-block: 0px;">Y2S1</h1>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 20">
                            <input type="checkbox" name="courses" value="CS 20" id="cs 20cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 20
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 32">
                            <input type="checkbox" name="courses" value="CS 32" id="cs 32cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 32
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="math 23">
                            <input type="checkbox" name="courses" value="MATH 23" id="math 23cbox" onclick="checkTheBox(this.value)" disabled>
                            Math 23
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="physics 72">
                            <input type="checkbox" name="courses" value="PHYSICS 72" id="physics 72cbox" onclick="checkTheBox(this.value)" disabled>
                            Physics 72
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="math 40">
                            <input type="checkbox" name="courses" value="MATH 40" id="math 40cbox" onclick="checkTheBox(this.value)" disabled>
                            Math 40
                        </label>
                        <button class="invisible_button" type="button"></button>  
                        <label class="course_button" onclick="showinfo(this.id)" id="pe 3">
                            <input type="checkbox" name="courses" value="PE 3" id="pe 3cbox" onclick="checkTheBox(this.value)" disabled>
                            3rd PE
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="nstp 1">
                            <input type="checkbox" name="courses" value="NSTP 1" id="nstp 1cbox" onclick="checkTheBox(this.value)" disabled>
                            NSTP 1
                        </label>
                    </div> 
                    
                    <div class="sem_column">
                        <h1 style="margin-block: 0px;">Y2S2</h1>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 21">
                            <input type="checkbox" name="courses" value="CS 21" id="cs 21cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 21
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 33">
                            <input type="checkbox" name="courses" value="CS 33" id="cs 33cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 33
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 136">
                            <input type="checkbox" name="courses" value="CS 136" id="cs 136cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 136
                        </label>
                        <button class="invisible_button" type="button"></button>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 132">
                            <input type="checkbox" name="courses" value="CS 132" id="cs 132cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 132
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="speech 30">
                            <input type="checkbox" name="courses" value="SPEECH 30" id="speech 30cbox" onclick="checkTheBox(this.value)" disabled>
                            Speech 30
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="pe 4">
                            <input type="checkbox" name="courses" value="PE 4" id="pe 4cbox" onclick="checkTheBox(this.value)" disabled>
                            4th PE
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="nstp 2">
                            <input type="checkbox" name="courses" value="NSTP 2" id="nstp 2cbox" onclick="checkTheBox(this.value)" disabled>
                            NSTP 2
                        </label>
                    </div>
                    

                    <div class="sem_column">
                        <h1 style="margin-block: 0px;">Y3S1</h1>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 140">
                            <input type="checkbox" name="courses" value="CS 140" id="cs 140cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 140
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 165">
                            <input type="checkbox" name="courses" value="CS 165" id="cs 165cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 165
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 138">
                            <input type="checkbox" name="courses" value="CS 138" id="cs 138cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 138
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 150">
                            <input type="checkbox" name="courses" value="CS 150" id="cs 150cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 150
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 191">
                            <input type="checkbox" name="courses" value="CS 191" id="cs 191cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 191
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="fil 40">
                            <input type="checkbox" name="courses" value="FIL 40" id="fil 40cbox" onclick="checkTheBox(this.value)" disabled>
                            Fil 40
                        </label>
                        <button class="invisible_button" type="button"></button>
                        <button class="invisible_button" type="button"></button>
                    </div>
                    

                    <div class="sem_column">
                        <h1 style="margin-block: 0px;">Y3S2</h1>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 145">
                            <input type="checkbox" name="courses" value="CS 145" id="cs 145cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 145
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 180">
                            <input type="checkbox" name="courses" value="CS 180" id="cs 180cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 180
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 194">
                            <input type="checkbox" name="courses" value="CS 194" id="cs 194cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 194
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 153">
                            <input type="checkbox" name="courses" value="CS 153" id="cs 153cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 153
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 192">
                            <input type="checkbox" name="courses" value="CS 192" id="cs 192cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 192
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="eng 30">
                            <input type="checkbox" name="courses" value="ENG 30" id="eng 30cbox" onclick="checkTheBox(this.value)" disabled>
                            Eng 30
                        </label>
                        <button class="invisible_button" type="button"></button>
                        <button class="invisible_button" type="button"></button>
                    </div>
                    
                    <div class="sem_column">
                        <h1 style="margin-block: 0px;">Y3M</h1>
                        <button class="invisible_button" type="button"></button> 
                        <button class="invisible_button" type="button"></button> 
                        <button class="invisible_button" type="button"></button> 
                        <button class="invisible_button" type="button"></button> 
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 195">
                            <input type="checkbox" name="courses" value="CS 195" id="cs 195cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 195
                        </label>
                        <button class="invisible_button" type="button"></button> 
                        <button class="invisible_button" type="button"></button> 
                        <button class="invisible_button" type="button"></button> 
                    </div>
                    
                    <div class="sem_column">
                        <h1 style="margin-block: 0px;">Y4S1</h1>
                        <label class="course_button" onclick="showinfo(this.id)" id="engg 150">
                            <input type="checkbox" name="courses" value="ENGG 150" id="engg 150cbox" onclick="checkTheBox(this.value)" disabled>
                            Engg 150
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 133">
                            <input type="checkbox" name="courses" value="CS 133" id="cs 133cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 133
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 198">
                            <input type="checkbox" name="courses" value="CS 198" id="cs 198cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 198
                        </label>  
                        <label class="course_button" onclick="showinfo(this.id)" id="ge elective">
                            <input type="checkbox" name="courses" value="GE ELECTIVE" id="ge electivecbox" onclick="checkTheBox(this.value)" disabled>
                            GE Elective
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="free elective">
                            <input type="checkbox" name="courses" value="FREE ELECTIVE" id="free electivecbox" onclick="checkTheBox(this.value)" disabled>
                            Free Choice
                        </label>
                        <label class="course_button2" onclick="showinfo(this.id)" id="sts 1/drmaps">
                            <input type="checkbox" name="courses" value="STS 1/DRMAPS" id="sts 1/drmapscbox" onclick="checkTheBox(this.value)" disabled>
                            STS 1 / <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DRMAPS
                        </label>
                        <button class="invisible_button2" type="button"></button> 
                        <button class="invisible_button" type="button"></button> 
                    </div>
                    
                    <div class="sem_column">
                        <h1 style="margin-block: 0px;">Y4S2</h1>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs elective">
                            <input type="checkbox" name="courses" value="CS ELECTIVE" id="cs electivecbox" onclick="checkTheBox(this.value)" disabled>
                            CS Elective
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 196">
                            <input type="checkbox" name="courses" value="CS 196" id="cs 196cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 196
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 199">
                            <input type="checkbox" name="courses" value="CS 199/200" id="cs 199/200cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 199/200
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="cs 155">
                            <input type="checkbox" name="courses" value="CS 155" id="cs 155cbox" onclick="checkTheBox(this.value)" disabled>
                            CS 155
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="arts 1">
                            <input type="checkbox" name="courses" value="ARTS 1" id="arts 1cbox" onclick="checkTheBox(this.value)" disabled>
                            Arts 1
                        </label>
                        <label class="course_button" onclick="showinfo(this.id)" id="pi 100">
                            <input type="checkbox" name="courses" value="PI 100" id="pi 100cbox" onclick="checkTheBox(this.value)" disabled>
                            PI 100
                        </label>
                        <button class="invisible_button" type="button"></button> 
                        <button class="invisible_button" type="button"></button> 
                    </div>
                    
                </div>
            </div>

            <div id="bottom_buttons">
                <button class="invisible_button" type="button" style="background-color: #bdbdbd;"></button>
                <a href="/flowchart/comeng/" class="gray_button"><p style="color: #ffffff; position: relative; bottom: 12px;">ComEng Flowchart</p></a>
                <input type="submit" value="Proceed" class="gray_button"><p style="color: #ffffff; position: relative; bottom: 12px;"></p>
            </div>
        </form>

        <div id="course_info">
            <h1 style="color: #000000;" id="course_info_code">Course Name</h1>
            <img id="x_button" src="{% static 'images/x_button.png' %}" onclick="exitinfo()">
            
            <div style="display: flex; justify-content: space-between; width: 950px;">
                <div class="gray_box" style="width: 600px; height: 100px;" id="course_info_description">
                    No Description
                </div>
                <div class="gray_box" style="width: 120px; height: 100px;">
                    Corequisites:
                    <ul id="course_info_coreq">
                        None
                    </ul>
                </div>
                <div class="gray_box" style="width: 120px; height: 100px;">
                    Prequisites:
                    <ul id="course_info_prereq">
                        None
                    </ul>
                </div>
            </div>

            <p style="color: #000000; font-size: 25px;">Reviews</p>

            <div style="display: flex; justify-content: space-between; width: 950px;">
                <div id="course_info_review" class="gray_box" style="width: 670px; height: 150px; white-space: pre;">
                    No Reviews
                </div>
                <div class="gray_box" style="width: 200px; height: 150px;">
                    Needed for:
                    <ul id="course_info_needed">
                        None
                    </ul>
                </div>
            </div>

            <form action="{% url 'add_course_review' %}" method="POST"> {% csrf_token %}
                <textarea id="review_input" type="text" class="field" type="text" placeholder="Finished the course? Leave a review!" name="review_input"></textarea>
                <input id="review_course" type="hidden" name="review_course" value=""></input>

                <div style="width: 950px; display: flex; justify-content: center;">
                    <button type="submit" class="gray_button" style="position: relative; top: 20px;">
                        Submit Review
                    </button>
                </div>
            </form>
        </div>
        
        <script src="{% static 'flowchart_index.js' %}"></script>
    </body>
</html>