<!DOCTYPE html>

<html>

    <head>
        <title>StudyPlanPro - BS Computer Engineering Flowchart</title>

        {% load static %}
        {% load socialaccount %} <!-- Added for oauth -->

        <link href="{% static 'flowchart2_style.css' %}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="header">
            <img id="logo" src="{% static 'images/logo.png' %}">
            <h1 style="padding-left: 5px;">StudyPlanPro</h1>
            
            <div id="tabs_container">
                <a href="/home/" class="tabs"><h1>Home</h1></a>
                <a href="/demand/comeng/" class="tabs"><h1>Demand</h1></a>
                <button class="highlighted_tabs"><h1>Flowchart</h1></button>
                
                {% if user.is_authenticated %}
                <a href="/home/logout/" class="tabs"><h1>Logout</h1></a>
                {% else %}
                <a href="/home/login/" class="tabs"><h1>Login</h1></a>
                {% endif %}
            </div>
        </div>

        <div class="centered_div" style="padding-top: 100px; flex-direction: column; align-items: center;">
            <div id="fc_outer_box">
                <div style="display: flex; flex-direction: row; justify-content: space-between;"> <!--top part-->
                    <div>
                        <h1 style="padding-left: 10px;">UPD ComEng: Major Course Selection</h1>
                        <p id="instruction_text">Click a course to see its description.</p>
                    </div>

                    <div style="padding-right: 15px;">
                        <p style="color: #ffffff; position: relative; top: 10px;">Current Mode:</p>
                        <button id="toggle_details" class="gray_button" style="background-color: #ffffff; color: #000000;" onclick="toggleDetails()">Details Mode</button>
                    </div>
                </div>

                <div id="fc_inner_box">
                    <div class="sem_column">
                        <h1 style="margin-block: 0px; font-size: 35px;">Y1S1</h1>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 111">EEE 111</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 113">EEE 113</button>
                        <button class="invisible_button"></button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 118">EEE 118</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="math 21">MATH 21</button>
                        <button class="invisible_button"></button>
                        <button class="course_button" onclick="showinfo(this.id)" id="phy 71">PHY 71</button>
                    </div>

                    <div class="sem_column">
                        <h1 style="margin-block: 0px; font-size: 35px;">Y1S2</h1>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 121">EEE 121</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 123">EEE 123</button>
                        <button class="invisible_button"></button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 128">EEE 128</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="math 22">MATH 22</button>
                        <button class="invisible_button"></button>
                        <button class="course_button" onclick="showinfo(this.id)" id="phy 72">PHY 72</button>  
                    </div> 

                    <div class="sem_column">
                        <h1 style="margin-block: 0px; font-size: 35px;">Y2S1</h1>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 131">EEE 131</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 133">EEE 133</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 137">EEE 137</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 138">EEE 138</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="math 23">MATH 23</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="math 40">MATH 40</button>
                        <button class="invisible_button"></button>
                    </div> 

                    <div class="sem_column">
                        <h1 style="margin-block: 0px; font-size: 35px;">Y2S2</h1>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 141">EEE 141</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 143">EEE 143</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 147">EEE 147</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 148">EEE 148</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 145">EEE 145</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="es 101">ES 101</button>
                        <button class="invisible_button"></button>
                    </div> 

                    <div class="sem_column">
                        <h1 style="margin-block: 0px; font-size: 35px;">Y3S1</h1>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 151">EEE 151</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 153">EEE 153</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 157">EEE 157</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 158">EEE 158</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 155">EEE 155</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 135">EEE 135</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="phy 73">PHY 73</button>  
                    </div> 

                    <div class="sem_column">
                        <h1 style="margin-block: 0px; font-size: 35px;">Y3S2</h1>
                        <button class="course_button" onclick="showinfo(this.id)" id="coe 161">CoE 161</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="coe 163">CoE 163</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="coe 164">CoE 164</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 192">EEE 192</button>
                        <button class="invisible_button"></button>
                        <button class="invisible_button"></button>
                        <button class="invisible_button"></button> 
                    </div> 

                    <div class="sem_column">
                        <h1 style="margin-block: 0px; font-size: 35px;">Y4S1</h1>
                        <button class="course_button" onclick="showinfo(this.id)" id="coe 165">CoE 165</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="coe 167">CoE 167</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="coe 168">CoE 168</button>
                        <button class="course_button" onclick="showinfo(this.id)" id="eee 196">EEE 196</button>
                        <button class="invisible_button"></button>
                        <button class="invisible_button"></button>
                        <button class="invisible_button"></button> 
                    </div> 

                    <div class="sem_column">
                        <h1 style="margin-block: 0px; font-size: 35px;">Y4S2</h1>
                        <button class="course_button" onclick="showinfo(this.id)" id="coe 199">CoE 199</button>
                        <button class="invisible_button"></button>
                        <button class="invisible_button"></button>
                        <button class="invisible_button"></button>
                        <button class="invisible_button"></button>
                        <button class="invisible_button"></button>
                        <button class="invisible_button"></button> 
                    </div> 
                </div>
            </div>

            <div id="bottom_buttons">
                <button class="invisible_button" style="background-color: #bdbdbd;"></button>
                <a href="/flowchart/cs/" class="gray_button"><p style="color: #ffffff; position: relative; bottom: 12px;">CS Flowchart</p></a>
                <a href="othercourses/" class="gray_button"><p style="color: #ffffff; position: relative; bottom: 12px;">Proceed</p></a>
            </div>
        </div>

        <div id="course_info">
            <h1 style="color: #000000;">Course Name</h1>
            <img id="x_button" src="{% static 'images/x_button.png' %}" onclick="exitinfo()">
            
            <div style="display: flex; justify-content: space-between; width: 950px;">
                <div class="gray_box" style="width: 400px; height: 100px;">
                    Random course description. Random course description. Random course description. Random course description. Random course description. Random course description. Random course description. Random course description. Random course description. Random course description.
                </div>
                <div class="gray_box" style="width: 200px; height: 100px;">
                    Corequisites:
                    <ul>
                        <li>Course 1</li>
                        <li>Course 2</li>
                        <li>Course 3</li>
                    </ul>
                </div>
                <div class="gray_box" style="width: 200px; height: 100px;">
                    Prequisites:
                    <ul>
                        <li>Course 1</li>
                        <li>Course 2</li>
                        <li>Course 3</li>
                    </ul>
                </div>
            </div>

            <p style="color: #000000; font-size: 25px;">Reviews</p>

            <div style="display: flex; justify-content: space-between; width: 950px;">
                <div class="gray_box" style="width: 670px; height: 150px;">
                    Course Review 1
                    <br>Random course review. Random course review. Random course review. Random course review. Random course review. Random course review. Random course review. Random course review. Random course review. Random course review.
                    <br>
                    <br>Course Review 2
                    <br>Random course review. Random course review. Random course review. Random course review. Random course review. Random course review. Random course review.
                </div>
                <div class="gray_box" style="width: 200px; height: 150px;">
                    Needed for:
                    <ul>
                        <li>Course 1</li>
                        <li>Course 2</li>
                        <li>Course 3</li>
                        <li>Course 4</li>
                        <li>Course 5</li>
                        <li>Course 6</li>
                    </ul>
                </div>
            </div>

            <textarea id="review_input" type="text" placeholder="Finished the course? Leave a review!"></textarea>

            <div style="width: 950px; display: flex; justify-content: center;">
                <input type="submit" value="Passed" class="gray_button" style="position: relative; top: 20px;">
            </div>
        </div>

        <div id="popup">
            <img id="x_button" src="{% static 'images/x_button.png' %}" onclick="exitPopup()">
            <br>

            <div style="display: flex">
                <img id="logo" src="{% static 'images/logo_black.png' %}">
                <h1 style="padding-left: 5px; color: #000000; font-weight: 500;">StudyPlanPro</h1>
            </div>

            <input class="loginInput" type="text" placeholder="Nickname">
            <input class="loginInput" type="text" placeholder="UP Email Address">

            <div style="display: flex">
                <button id="email_button" onclick="sendEmailPressed()">Send Email</button>

                <!--Added for login-->
                <a href="{% provider_login_url 'google' %}?next=/flowchart">
                    <img id="google_button" src="{% static 'images/google_logo.png' %}">
                </a>
                <!--Added for login-->
            </div>

        </div>

        <script src="{% static 'flowchart2_index.js' %}"></script>
    </body>
</html>